li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
.menu ul {
    display: flex;
}
.menu ul li {
    width: 100px;
}
.item:hover {
    color: #5c7cfa;
}
.item:active, .item.active {
    color: #5c7cfa;
    text-decoration: underline;
}
