@charset "utf-8";


/**
  * left
  */
.area_left {
    position: fixed;
    top: 0;
    left: 0;
    width: 345px;
    height: 100%;
    background: #fff;
    padding: 90px 0 10px 0;
    -webkit-box-shadow: 10px 2px 38px -17px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 2px 38px -17px rgba(0,0,0,0.25);
    box-shadow: 10px 2px 38px -17px rgba(0,0,0,0.25);
    z-index: 15;
}
.area_left .box_info {
    height: 450px;
    background: url("../../resources/img/profile-bg.jpg") 0 0 no-repeat;
    padding: 245px 0 0;
}
.area_left .box_info .pic {
    position: absolute;
    top:185px;
    left:100px;
    width: 135px;
    height: 135px;
    overflow: hidden;
    border-radius: 50%;
}
.area_left .box_info .pic img {
    width: auto;
    height:100%;
}
.area_left .box_info .name {
    margin-bottom: 30px;
}
.area_left .box_info .name p {
    font-size: 2.5rem;
    color: #364852;
    text-align: center;
}
.area_left .box_info .name span {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    color: #889ba5;
}
.area_left .vacant {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.area_left .vacant .btn_vacant a svg {
    margin-right: 5px;
}
.area_left .vacant .btn_vacant a svg path {
    fill: #fff;
}
.area_left .vacant .vacant_days span {
    font-size: 1.6rem;
}
.area_left .vacant .vacant_days p {
    font-size: 3.5rem;
    line-height: 100%;
    color: #37d1d1;
}


/**
 * myinfo Left
 */
.area_left .info {
    padding: 0 10px 0 100px;
}
.area_left .info li i {
    font-size: 1rem;
    margin-right: 5px;
    vertical-align: middle;
    color: #a8aaae;
}

/**
  * myinfo contents
  */
.btn_info_modify {
    position: absolute;
    top:64px;
    right: 50px;
}
.btn_info_modify i {
    vertical-align: middle;
    font-size: 1.5rem;
    margin-right: 3px;
}

.box_info_select {
    position: relative;
    height: 45px;
}
.box_vacation {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background: #5d48ed;
    text-align: center;
    border-radius: 10px;
}
.box_vacation p {
    color: #fff;
    font-size: 1.8rem;
    line-height: 50px;
}

.box_vacation p i {
    color: #fff;
    opacity: 0.5;
    margin-right: 5px;
}
.box_vacation .vacation_days {
    display: inline-block;
    color: #fff;
    font-size: 8.5rem;
    line-height: 97px;
    letter-spacing: -3px;
}
.btn_change_pic {
    display: block;
    position: absolute;
    top: 306px;
    right: 113px;
    width: 20px;
    height: 15px;
    text-align: center;
}
.btn_change_pic i {
    color: #c6cacf;
}

/**
 * myinfo Left
 */
.area_left .info {
    padding: 0 10px 0 100px;
}
.area_left .info li i {
    font-size: 1rem;
    margin-right: 5px;
    vertical-align: middle;
    color: #a8aaae;
}
