@charset "utf-8";


/**
  * myinfo contents
  */
.btn_info_modify {
    position: absolute;
    top:64px;
    right: 50px;
}
.btn_info_modify i {
    vertical-align: middle;
    font-size: 1.5rem;
    margin-right: 3px;
}

.box_info_select {
    position: relative;
    height: 45px;
}
